@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 100vh;
    background: rgb(220, 231, 243);
}
main {
    display: block;
    margin: auto;
    max-width: 700px;
    font-family: 'Karla', sans-serif;
    border-radius: 9px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0px 16px 40px 40px #dadada53;
}
p {
    line-height: 1.8rem;
}
li {
    line-height: 1.4rem;
    list-style-type: none;
}
ul {
    padding: 0;
}

.top,
.bottom-left,
.bottom-right {
    padding: 30px;
}
.top {
    background-color: #f8f8f8;
}
.top h1 {
    color: hsl(179, 62%, 43%);
}

.top h2 {
    color: hsl(71, 73%, 54%);
}
.top p {
    color: hsl(218, 22%, 67%);
}

.bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.bottom p,
.bottom li {
    color: hsl(204, 43%, 93%);
}
.bottom h2 {
    color: #f8f8f8;
    font-weight: 400;
}

.bottom-left {
    background-color: hsl(179, 62%, 43%);
}
.bottom-left h3 {
    color: hsla(205, 44%, 86%, 0.893);
    font-size: 1rem;
    font-weight: 400;
    margin-top: -20px;
}
.bottom-left h3 span {
    color: #f8f8f8;
    font-size: 3rem;
    position: relative;
    top: 10px;
}
.bottom-left button {
    display: block;
    width: 100%;
    color: #f8f8f8;
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 6px;
    padding: 12px 50px;
    box-shadow: -8px 8px 16px 1px #95959568;
    /* box-shadow: 0px 4px 4px 20px #82828268; */
}

.bottom-right {
    background-color: hsl(179, 60%, 47%);
}


@media screen and (max-width: 580px) {
    .bottom {
        grid-template-columns: 1fr;
    }

    .top,
    .bottom-left,
    .bottom-right {
        padding: 18px;
    }
}